.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
}

table {
  width: 100%;
  padding: 0.5rem;
}

.table td {
  padding: 0.5rem;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table tr:nth-of-type(odd) {
  background-color: rgb(220, 226, 220);
}
